td div{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-bottom: 1em;
}
.color-segment-detail {
    width: 250px;
    height: 250px;
}
.ui.segment:last-child {
    margin-bottom: 1em !important;
}