p.capitalize {
    text-transform: capitalize;
}

div.menu {
    position: relative;
    width: 30%;
}

.random-button {
    width: 80%;
    padding: 0.5em;
    margin: auto;
    display: block;
}

.ui.menu {
    border-top: none;
    border-radius: 0%;
}